.project {
    width: 100%;
    
    & img {
        width: 100%;
        height: auto;
        max-width: 460px;
        box-shadow: 5px 5px 5px;
        @media(max-width: $md) {
            display: block;
            margin: 0 auto;
        }
    }

    & h3 {
        @media(max-width: $md) {
            text-align: center;
        }
    }
}